@media (min-width: 700px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    height: calc(100vh - 100px);
  }

  .card {
    padding: 20px;
    border-radius: 30px;
    justify-content: center;
    border: 1px solid black;
  }

  .onebox {
    display: grid;
    grid-column: span 1;
  }

  .twobox {
    display: grid;
    grid-column: span 2;
  }

  .threebox {
    display: grid;
    grid-column: span 3;
  }
}