body {
  max-width: 400px;
  margin: 20px auto;
  padding: 0 10px;
}

body {
  background-color: white;
  color: black;

  button {
    background-color: #f1444c;
    color: white;
    transition: box-shadow 0.2s ease-out, background-color 0.2s ease-out,
      color 0.2s ease-out, font-size 0.5s ease-in-out;

    &:hover {
      background-color: #ef6369;
    }
  }

  .pokemon-display {
    background-color: rgba($color: #000000, $alpha: 0.02);
  }

  .evolution-container {
    background-color: rgba($color: #000000, $alpha: 0);
  }
}

/* Dark mode when device is set to dark */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #242424;
    color: white;

    .pokemon-display {
      background-color: rgba($color: #ffffff, $alpha: 0.02);
    }

    .evolution-container {
      background-color: rgba($color: #ffffff, $alpha: 0);
    }

    input {
      color: white;
    }
  }
}

.pokemon-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 30px;
  margin-top: 40px;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.5s ease-in-out, box-shadow 0.8s ease-out;
}

.pokemon-display.shadowbox {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.show {
  opacity: 1;
}

table {
  width: auto;
  max-width: 100%;

  margin: 0 auto;
  td {
    padding: 0 10px;
  }

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 20px;
  background-color: #f1444c;
  color: white;
}

.abilities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
  gap: 10px;

  h3,
  p {
    margin: 0;
  }

  h3 {
    text-align: right;
  }

  p {
    text-align: left;
  }
}

.evolution-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 20px;
  box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
  width: 90%;
  margin: 20px 10px;
  transition: box-shadow 0.8s ease-out, background-color 0.8s ease-out;

  img {
    width: 100%;
    max-width: 120px;
  }

  div {
    grid-column: span 1;
  }

  h3 {
    grid-column: span 2;
  }

  p:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.evolution-container.shadowbox {
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;

  @media (prefers-color-scheme: dark) {
    background-color: #242424;
  }
}

@media (min-width: 700px) {
  body {
    max-width: 800px;
  }

  .pokemon-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .pokemon-container {
    margin: 30px 0px;
    align-self: start;
  }
}

@media (min-width: 1200px) {
  body {
    max-width: 1100px;
  }

  .evolution-container {
    grid-template-columns: repeat(3, 1fr);

    h3 {
      grid-column: span 3;
    }
  }
}
