@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-VariableFont_wght.ttf) format(woff2);
}

h1,
h2,
h3,
h4,
p,
button,
input,
table,
a {
  font-family: "Dosis";
  transition: font-size 0.5s ease-in-out;
}

h1 {
  font-weight: 800;
  font-size: 36px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
}

h3 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

button {
  font-weight: 500;
  font-size: 24px;
}

input {
  font-weight: 500;
  font-size: 18px;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: black;

  @media (prefers-color-scheme: dark) {
    color: white;
  }
}

@media (min-width: 900px) {
  h1 {
    font-size: 54px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  p {
    font-size: 20px;
  }

  button {
    font-size: 28px;
  }

  input {
    font-size: 24px;
  }
  
}