@font-face {
  font-family: "Dosis";
  src: url(../fonts/Dosis-VariableFont_wght.ttf) format(woff2);
}

h1,
h2,
p,
button,
a {
  font-family: "Dosis";
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

p {
  font-weight: 400;
}

button {
  font-weight: 400;
}

a {
  font-weight: 600;
}
